<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        $(function(){
            var data4Vue = {
                uri:'forehome',
                categories: [],
                category: {id:'',priority:'',productCategoryName:''},
                addcate: true
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"?size=30";
                        axios.get(url).then(function(response) {
                            vue.categories =response.data.page.content;
                            vue.category =vue.categories[0];
                        });
                    },
                    del:function (cid) {
                        var url= "categories/"+cid;
                        axios.delete(url).then(function () {
                           vue.load();
                        });
                    },
                    update:function () {

                        var url= "categories";
                        axios.put(url,vue.category).then(function () {
                            $('#categoryModal').modal('toggle')
                            vue.load();

                        });
                    },
                    addCategory:function () {
                        vue.category.id= '';
                        var url= "categories";
                        axios.post(url,vue.category).then(function () {
                            $('#categoryModal').modal('toggle')
                            vue.load();

                        });
                    },
                    change:function (category) {
                        vue.addcate = false;
                        vue.category = category;
                    },
                    add:function () {
                        vue.addcate = true;
                    }
                }
            });

        });
    </script>
    <h2 class="sub-header">分类管理</h2>
    <button @click="add()" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">新增</button>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>分类名</th>
                <th>优先级</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="c,index in categories">
                <td>{{c.id}}</td>
                <td>{{c.productCategoryName}}</td>
                <td>{{c.priority}}</td>
                <td >
                    <button @click="del(c.id)" class="btn btn-danger">删除</button>
                    <button @click="change(c)" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">修改</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="modal fade bs-example-modal-sm" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title" id="exampleModalLabel">
                        <span v-if="addcate">新增分类</span>
                        <span v-else>分类id:{{category.id}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="control-label">分类名称:</label>
                            <input type="text" v-model="category.productCategoryName" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="priority" class="control-label">优先级:</label>
                            <input type="text" v-model="category.priority" class="form-control" id="priority">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button v-if="addcate" type="button" @click="addCategory()" class="btn btn-primary">保存</button>
                    <button v-else type="button" @click="update()" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>