<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    function imgAndInfoPageRegisterListeners(vue){
        $(".buyLink").click(function(){
            var url = "forecheckLogin";
            axios.get(url).then(function(response) {
                if(0==response.data.code){
                    var pid = vue.products.id;
                    var url =  "buyone?pid="+pid;
                    location.href=url;
                }
                else{
                    $("#loginModal").modal('show');
                }
            });
            return false;
        });

        $("button.loginSubmitButton").click(function(){
            var url =  "forelogin";
            if(0==vue.user.username.length){
                $("span.errorMessage").html("请输入用户名");
                $("div.loginErrorMessageDiv").css("visibility","visible");
                return;
            }
            if(0==vue.user.password.length){
                $("span.errorMessage").html("请输入密码");
                $("div.loginErrorMessageDiv").css("visibility","visible");
                return;
            }

            axios.post(url,vue.user).then(function(response) {
                var result = response.data;
                if(result.code==0){
                    location.href="product?pid="+vue.products.id;
                }
                else{
                    $("span.errorMessage").html(result.message);
                    $("div.loginErrorMessageDiv").css("visibility","visible");
                }
            });
        });

    }
</script>
    <div class="imgAndInfo">
        <div class="imgInimgAndInfo">
            <img v-if="products.imgAddr!=null" :src="'img/productSingle_middle/'+products.imgAddr+'.jpg'" class="bigImg">
        </div>
        <div class="infoInimgAndInfo">

            <div class="productTitle">
                {{products.productName}}
            </div>

                <div class="productPriceDiv">
                    <div class="originalDiv">
                        <span class="originalPriceDesc">原始价格</span>
                        <span class="originalPriceYuan">¥</span>
                        <span class="originalPrice">
	                    	{{products.normalPrice|formatMoneyFilter}}
	                    </span>
                    </div>

                    <div class="promotionDiv">
                        <span class="promotionPriceDesc">二手价 </span>
                        <span class="promotionPriceYuan">¥</span>
                        <span class="promotionPrice">
							{{products.promotionPrice|formatMoneyFilter}}
	                    </span>
                    </div>
                    <div>
                        卖家：
                    </div>
                    <div>
                        <div style="float: left">
                        <img v-if="products.personInfo.profileImg" :src="'img/profileImg/'+products.personInfo.profileImg+'.jpg'" class="profileImg">
                        </div>
                        <div style="padding-top: 17px">
                            <span class="maijia">{{products.personInfo.name}}</span><br>
                            <span class="tel" >{{products.personInfo.tel}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buyDiv">
                <a class="buyLink" ><button class="buyButton" >立即购买</button></a>
            </div>
        </div>

        <div style="clear:both"></div>

    </div>
</div>