<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        $(function(){
            var pid = getUrlParms("pid");
            var data4Vue = {
                uri:'foreproduct',
                products:[] ,
                user:{username:'', password:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"/"+pid;
                        axios.get(url).then(function(response) {
                            vue.products = response.data;
                            vue.$nextTick(function(){
                                imgAndInfoPageRegisterListeners(vue);
                            })
                        });
                    }
                }
            });


        });
    </script>

    <title>闲猪校园二手交易网 -- {{products.productName}}</title>
    <div class="productPageDiv">
        <div th:replace="include/fore/product/imageAndInfo::html" ></div>
        <div th:replace="include/fore/product/productDetail::html" ></div>
    </div>
</div>