<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        $(function(){
            var data4Vue = {
                uri:'foreperson',
                uri2:'personinfoes',
                personinfo : [] ,
                file : null

            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri;
                        axios.get(url).then(function(response) {
                            vue.personinfo = response.data;
                        });
                    },
                    add:function () {
                        var url=this.uri2;
                        var formData=new FormData();
                        formData.append("profileImg",this.file);
                        formData.append("personinfo",this.personinfo.id);
                        formData.append("personinfo",this.personinfo.name);
                        formData.append("personinfo",this.personinfo.email);
                        formData.append("personinfo",this.personinfo.gender);
                        formData.append("personinfo",this.personinfo.tel);
                        formData.append("personinfo",this.personinfo.address);
                        axios.post(url,formData).then(function (response) {
                            vue.personinfo = response.data;
                            vue.file = null;
                        });
                    },
                    getFile: function (event) {
                        this.file = event.target.files[0];
                    }
                }
            });
        });
    </script>

    <title>闲猪校园二手网</title>
    <div class="homepageDiv">
        <div th:replace="include/fore/personcenter/nav::html(activeUri='personinfo')" ></div>
        <div th:replace="include/fore/personcenter/personinfo::html"></div>
    </div>
</div>