<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:class="${list == 'myPublish' ? 'myPublishList col-sm-10' : 'homepageCategoryProducts'}">
            <div class="productItem"  v-for="p,index in products">
                <a :href="'product?pid='+p.id">
                    <img width="120px" :src="'img/productSingle_middle/'+p.imgAddr+'.jpg'">
                </a>

                <a class="productItemDescLink" href="'product?pid='+p.id">
                                    <span class="productItemDesc">[热销]
                                    {{p.productName | subStringFilter(0,20)}}
                                    </span>
                </a>
                <span class="productPrice">
                                    {{p.promotionPrice | formatMoneyFilter}}
                                </span>
            </div>
            <div style="clear:both"></div>
        <img id="endpng" class="endpng" src="img/site/end.png">
        <div th:replace="include/admin/adminPage::html" ></div>
    </div>
</div>