<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap/3.3.6/bootstrap.css" />
    <script type="text/javascript" src="js/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/3.3.6/bootstrap.js"></script>
</head>
<body>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/}">闲猪</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
<div class="col-3 container">
    <form th:action="@{/personinfo}" method="post" enctype="multipart/form-data">
        <div class="py-5 text-center">
            <h2>个人信息</h2>
        </div>
        <div class="form-group">
            <label for="profile">头像选择</label>
            <input name="profile" type="file" class="form-control-file" id="profile">
        </div>
        <div class="form-group" >
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="邮箱">
        </div>
        <div class="form-group">
            <input name="name" type="text" class="form-control" id="name" placeholder="昵称">
        </div>
        <div class="form-group">
            <select name="gender" class="custom-select " id="inlineFormCustomSelect">
                <option selected value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary ">提交</button>
        </div>

    </form>
</div>


</body>
</html>
