<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        $(function(){
            var pid = getUrlParms("pid");
            var data4Vue = {
                uri:'foreproduct',
                p : [],
                order:{sellerId:'',product:[],address:'',message:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"/"+pid;
                        axios.get(url).then(function(response) {
                            vue.p = response.data;
                        });
                    },
                    submitOrder:function(){
                        var url =  "forecreateOrder";
                        this.order.product =this.p;
                        this.order.sellerId=this.p.personInfo.id;
                        axios.post(url,this.order).then(function(response) {

                            location.href="mybuy";
                        });
                    }
                }
            });

        })
    </script>
    <div class="buyPageDiv">
        <div class="buyFlow">
            <img class="pull-right" src="img/site/buyflow.png">
            <div style="clear:both"></div>
        </div>
        <div class="address">
            <div class="addressTip">输入交易地点</div>
            <div>

                <table class="addressTable">
                    <tr>
                        <td class="firstColumn">详细地址<span class="redStar">*</span></td>

                        <td><textarea name="address" v-model="order.address" placeholder="建议您如实填写详细收货地址，例如宿舍楼名称，楼层和寝室号等信息"></textarea></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="productList">
            <div class="productListTip">确认订单信息</div>

            <table class="productListTable">
                <thead>
                <tr>
                    <th colspan="2" class="productListTableFirstColumn">
                        <img class="tmallbuy" :src="'img/profileImg/'+p.personInfo.profileImg+'.jpg'">
                        <a class="marketLink" href="#nowhere">卖家：</a>
                        <a class="wangwanglink" href="#nowhere"> {{p.personInfo.name}} </a>
                        <a class="wangwanglink" href="#nowhere"> {{p.personInfo.tel}} </a>
                    </th>
                    <th>原价</th>
                    <th>交易方式</th>
                </tr>
                <tr class="rowborder">
                    <td  colspan="2" ></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="productListTableTbody">
                <tr class="orderItemTR"  >
                    <td class="orderItemFirstTD">
                        <img class="orderItemImg"  :src="'img/productSingle_middle/'+p.imgAddr+'.jpg'">
                    </td>
                    <td class="orderItemProductInfo">
                        <a  :href="'product?pid='+p.id" class="orderItemProductLink">
                            {{p.productName}}
                        </a>
                        <img src="img/site/7day.png" title="消费者保障服务,承诺7天退货">
                        <img src="img/site/promise.png" title="消费者保障服务,承诺如实描述">
                    </td>
                    <td>
                        {{p.normalPrice|formatMoneyFilter}}
                    </td>
                    <td rowspan="5" class="orderItemLastTD"  >
                        <label class="orderItemDeliveryLabel">
                            <input type="radio" value="" checked="checked">
                            当面交易
                        </label>
                        <select >
                            <option>面交</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="orderItemSumDiv">
                <div class="pull-left">
                    <span class="leaveMessageText">给卖家留言:</span>
                    <span class="leaveMessageTextareaSpan">
                        <textarea name="userMessage" v-model="order.message" class="leaveMessageTextarea"></textarea>
                        <div>
                            <span>可以输入200个字符</span>
                        </div>
                    </span>
                </div>
            </div>

        </div>
        <div class="orderItemTotalSumDiv">
            <div class="pull-right">
                <span>二手价：</span>
                <span class="orderItemTotalSumSpan">{{p.promotionPrice|formatMoneyFilter}}</span>
            </div>
        </div>
        <div class="submitOrderDiv">
            <button type="submit" class="submitOrderButton" @click="submitOrder">提交订单</button>
        </div>
    </div>
</div>